@import "./style.css"; /* import global styles */

header {
  background-color: var(--white);
  position: relative;
  height: auto;
  /* min-height: 480px; */
  z-index: 1;
}

footer {
  background-color: var(--gray);
  position: relative;
  height: 80px;
  z-index: 1;
}

section {
  position: relative;
  height: auto;
  min-height: 770px;
  z-index: 1;

  background-color: var(--tan);
}

footer h4 {
  color: var(--white);
  text-align: center;
  font-family: "Aileron Thin", Helvetica, sans-serif;
  font-size: 1.1rem;
  /* display: inline-block;
  width: max-content;
  padding-right: 150px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--white);
  position: absolute; */
  position: relative;
  top: 40%;
}

#content h2 {
  font-family: "Aileron SemiBold", Helvetica, sans-serif;
  color: var(--dark);
  font-size: 1.8rem;
  position: absolute;
  width: 40%;
  top: 10%;
  left: 10%;
  line-height: 1.9rem;
}

#links {
  position: absolute;
  width: 40%;
  top: 20%;
  left: 10%;
}

#content h4 {
  font-family: "Aileron Light", Helvetica, sans-serif;
  color: var(--dark);
  font-size: 1.4rem;
  position: relative;
  margin: 20px 0;
  line-height: 1.9rem;
}

#links a,
#links a:link,
#links a:visited {
  text-decoration: none;
  color: var(--gray);
}

#self {
  background-image: url("/assets/images/self.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 20%;
  top: 10%;
  border-radius: 100%;
  min-width: 250px;
  min-height: 250px;
  width: 30vw;
  height: 30vw;
  border: 5px solid var(--gray);
}

@media screen and (max-width: 975px) {
  #self {
    display: none;
  }

  #content {
    width: 80%;
  }

  #links {
    width: 100%;
  }
  /* other styles */
}
