/* OFFICE CODE PRO */
@font-face {
  font-family: "Office Code Pro";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-Regular.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-Regular.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-Regular.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-Regular.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-Regular.woff2");
}

/* OFFICE CODE PRO ITALIC */
@font-face {
  font-family: "Office Code Pro Italic";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-RegularItalic.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-RegularItalic.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-RegularItalic.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-RegularItalic.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-RegularItalic.woff2");
}

@font-face {
  font-family: "Office Code Pro Bold";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-Bold.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-Bold.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-Bold.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-Bold.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-Bold.woff2");
}

@font-face {
  font-family: "Office Code Pro Bold Italic";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-BoldItalic.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-BoldItalic.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-BoldItalic.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-BoldItalic.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-BoldItalic.woff2");
}

@font-face {
  font-family: "Office Code Pro Medium";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-Medium.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-Medium.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-Medium.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-Medium.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-Medium.woff2");
}

@font-face {
  font-family: "Office Code Pro Medium Italic";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-MediumItalic.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-MediumItalic.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-MediumItalic.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-MediumItalic.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-MediumItalic.woff2");
}

@font-face {
  font-family: "Office Code Pro Light";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-Light.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-Light.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-Light.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-Light.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-Light.woff2");
}

@font-face {
  font-family: "Office Code Pro Light Italic";
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/EOT/OfficeCodePro-LightItalic.eot");
  src: url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/OTF/OfficeCodePro-LightItalic.otf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/TTF/OfficeCodePro-LightItalic.ttf"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF/OfficeCodePro-LightItalic.woff"),
    url("/assets/fonts/Office-Code-Pro-master/Fonts/Office Code Pro/WOFF2/OfficeCodePro-LightItalic.woff2");
}

/* Aileron Black */
@font-face {
  font-family: "Aileron Black";
  src: url("/assets/fonts/aileron/Aileron-Black.otf");
}

/* Aileron Black Italic*/
@font-face {
  font-family: "Aileron Black Italic";
  src: url("/assets/fonts/aileron/Aileron-BlackItalic.otf");
}

/* Aileron Bold */
@font-face {
  font-family: "Aileron Bold";
  src: url("/assets/fonts/aileron/Aileron-Bold.otf");
}

/* Aileron Bold Italic*/
@font-face {
  font-family: "Aileron Bold Italic";
  src: url("/assets/fonts/aileron/Aileron-BoldItalic.otf");
}

/* Aileron Heavy */
@font-face {
  font-family: "Aileron Heavy";
  src: url("/assets/fonts/aileron/Aileron-Heavy.otf");
}

/* Aileron Heavy Italic*/
@font-face {
  font-family: "Aileron Heavy Italic";
  src: url("/assets/fonts/aileron/Aileron-HeavyItalic.otf");
}

/* Aileron SemiBold */
@font-face {
  font-family: "Aileron SemiBold";
  src: url("/assets/fonts/aileron/Aileron-SemiBold.otf");
}

/* Aileron SemiBold Italic*/
@font-face {
  font-family: "Aileron SemiBold Italic";
  src: url("/assets/fonts/aileron/Aileron-SemiBoldItalic.otf");
}

/* Aileron */
@font-face {
  font-family: "Aileron";
  src: url("/assets/fonts/aileron/Aileron-Regular.otf");
}

/* Aileron Italic*/
@font-face {
  font-family: "Aileron Italic";
  src: url("/assets/fonts/aileron/Aileron-Italic.otf");
}

/* Aileron Light */
@font-face {
  font-family: "Aileron Light";
  src: url("/assets/fonts/aileron/Aileron-Light.otf");
}

/* Aileron Light Italic*/
@font-face {
  font-family: "Aileron Light Italic";
  src: url("/assets/fonts/aileron/Aileron-LightItalic.otf");
}

/* Aileron Thin */
@font-face {
  font-family: "Aileron Thin";
  src: url("/assets/fonts/aileron/Aileron-Thin.otf");
}

/* Aileron Thin Italic*/
@font-face {
  font-family: "Aileron Thin Italic";
  src: url("/assets/fonts/aileron/Aileron-ThinItalic.otf");
}

/* Aileron UltraThin */
@font-face {
  font-family: "Aileron UltraThin";
  src: url("/assets/fonts/aileron/Aileron-UltraThin.otf");
}

/* Aileron UltraThin Italic*/
@font-face {
  font-family: "Aileron UltraThin Italic";
  src: url("/assets/fonts/aileron/Aileron-UltraThinItalic.otf");
}
