@import "./style.css"; /* import global styles */

body {
  background-color: var(--tan);
}

header {
  background-color: var(--white);
  position: relative;
  height: 60vh;
  min-height: 480px;
  z-index: 1;
  margin-bottom: 5%;
}

header:after,
section:after {
  background: inherit;
  bottom: -25%;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(4deg);
  transform-origin: 100% 0;
  z-index: -1;
}

section:before {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(4deg);
  transform-origin: 100% 0;
  z-index: -1;
}

#intro {
  font-family: "Aileron Light", Helvetica, sans-serif;
  color: var(--dark);
  font-size: 1.5rem;
  position: absolute;
  width: 40%;
  top: 40%;
  left: 10%;
  line-height: 1.9rem;
}

#intro .important {
  font-family: "Aileron Bold", Helvetica, sans-serif;
}

/* project section */
#projects h2 {
  font-family: "Aileron Bold", Helvetica, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

section {
  position: relative;
  height: 80vh;
  min-height: 480px;
  z-index: 1;
  margin-bottom: 20vh;
}

#projects {
  background-color: var(--tan);
  height: auto;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.proj {
  width: 40%;
  min-width: 500px;
  height: 250px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 30px;
}

.proj a,
.proj a:link,
.proj a:visited {
  text-decoration: none;
  position: relative;
  color: var(--dark);
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.proj h3 {
  font-family: "Aileron Light", Helvetica, sans-serif;
  letter-spacing: 0.15rem;
  text-align: center;
  position: relative;
  top: 80%;
  padding-top: 13px;
  display: block;
  height: 20%;
  border-radius: 0 0 30px 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

footer {
  background-color: var(--gray);
  position: relative;
  height: 120px;
  z-index: 1;
}

footer::before {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2deg);
  transform-origin: 100% 0;
  z-index: -1;
}

footer h4 {
  color: var(--white);
  text-align: center;
  font-family: "Aileron Thin", Helvetica, sans-serif;
  font-size: 1.1rem;
  /* display: inline-block;
  width: max-content;
  padding-right: 150px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--white);
  position: absolute; */
  position: relative;
  top: 40%;
}

.proj:nth-child(1) {
  background-image: url("../assets/images/bobcat-search.png");
  background-size: cover;
  background-position: top;
}
.proj:nth-child(2) {
  background-image: url("../assets/images/bobcat-transit.png");
  background-size: cover;
  background-position: center;
}
