.name {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
}
/* font-family: 'Open Sans', sans-serif; */
front-div {
  text-align: center;
  margin-top: 30px;
  height: 50px;
  text-decoration: none;
}
