.name {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
  padding-bottom: 7px;
  /* border-bottom: 1px solid black; */
  display: inline-block;
}
/* font-family: 'Lato', sans-serif; */
nav {
   height: 70px;
   line-height: 70px;
}

 nav ul {
    list-style: none;
    width: 100%;
    text-align:right
 }

nav ul li {
  display: inline-block;
  font-size: 60%;
  margin-right: 0;
}

.head {
  border-bottom: 1px solid black;
}
